BasedOnStyle: Google
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<Siv3D\.hpp>'
    Priority: -1
  - Regex: '<.*>'
    Priority: 1
  - Regex: '".*"'
    Priority: 2
